name: Build

on:
  push:
  workflow_dispatch:

jobs:

  build:
    runs-on: windows-latest 
    name: Build
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

#    - name: Install .NET Core
#      uses: actions/setup-dotnet@v4
#      with:
#        dotnet-version: 8.0.x

    - name: Publish
      run: dotnet publish -c Release -f net8.0-windows -r win-x64 --self-contained false -o publish

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: InkCanvasForClass-Remastered-${{ github.sha::7 }}
        path: publish/

